/.idea/
*.iml
/target/
server/src/main/resources/build.properties

# OS
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Gradle
/build/
/*/build/
/.gradle/

# Common working directory
run/