name: Java CI

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 16
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml